/array_1.py
/class.py
/data.py
/dictionary.py
/forloop.py
/function.py
/if_else.py
/lambda.py
/liberary.py
/lift_forloop.py
/lift_whileloop.py
/list.py
/module.py
/polymorphism.py
/sets.py
/test.py
/tuple.py
/whileloop.py
/__pycache__